{% extends 'search/base.html' %}

{% block content %}

<div class="row justify-content-center mt-5">
	<div class="col-md-6 offset-md-1">
	<div class="card" style="width: 25rem;">
	  <div class="card-header">
	    <b>Script Instructions</b>
	  </div>
	  <ul class="list-group list-group-flush">
	    <li class="list-group-item">Click the task bar 'searching' option</li>
	    <li class="list-group-item">Next page, type on the search bar whatever <b>movie</b> or <b>series</b> u want to download and click the 'search' button</li>
	    <li class="list-group-item">Next one, u click on the <b>highlighted</b> highest possible <a href="#">link</a> to download since those are ordered by seeds amount highest to lowest</li>
	    <li class="list-group-item">Finally, click on the 'upload' button to upload the magnet link onto your dropbox acctg</li>
	  </ul>
	</div>
	<br>
	
</div>
</div>


{% endblock %}