{% extends 'search/base.html' %}

{% block content %}

    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="list-group">
                <div class="alert alert-secondary" role="alert">
                    {{ link|truncatechars:60 }}
                </div>
            </div>
            {% if success %}
            <div class="row">
                <div class="col-md-4 offset-md-2">
                    <form method="POST" action="{% url 'searching' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-info">Searching</button>
                    </form>
                </div>
                <div class="col-md-4 offset-md-1">
                    <form method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">Subtitle upload</button>
                    </form>
                </div>
            </div>
            <br>
                <div class="text-center">
                        <div class="alert alert-warning" role="alert">
                            <h4 class="alert-heading">{{ success }}</h4>
                              <p>The file <a href="#" class="alert-link">{{ torrObj.torrentSearch }}</a> has been successfully uploaded to your shared folder</p>
                              <hr>
                            <p class="mb-0">Thanks for using this script!.</p>
                        </div>
                </div>
            {% else %}
            <div class="text-center">
                <form method="POST" action="{% url 'dropboxupload' torrObj.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Upload</button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>

 
{% endblock %}