{% extends 'tracker/base.html' %}

{% block content %}

    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
                             <h2>Current budget per quarter</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
        {% if qbudget %}
            <div class="list-group">
                {% for budget in qbudget %}
                    <a href="{% url 'qbudgetget' budget.id %}" class="list-group-item list-group-item-action">{{ budget.quarter }} | <b>Budget:</b> {{ budget.budget }} | <b>ER:</b> {{ budget.tc }} | <b>Total Budget:</b> {% widthratio budget.budget 1 budget.tc %}</a>
                {% endfor %}
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}