{% extends 'vacation/base.html' %}

{% load static %}

{% block content %}

<div class="container">
	<br>
	<br>
	<div class="mx-auto card text-dark bg-light" style="max-width: 30rem;">
		<div class="card-body">
			<h1 class="display-5 text-center">Add Days Form</h1>
		</div>
	</div>
	<br>
		<div class="mx-auto col-md-6">
			<div class="card">
				<div class="card-body">
					<div class="mx-auto col-sm-4">
						<form enctype="multipart/form-data" method="GET">{% csrf_token %}
						{{ form.as_p }}
							<div class="d-flex justify-content-around">
								<button class="mt-2 btn btn-primary" type="submit">Add</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
</div>

{% endblock %}