{% extends 'tlog/base.html' %}

{% load static %}

{% block content %}



	<div class="mt-5 mx-5">
		<div class="row">
			<div class="mx-auto card text-dark bg-primary" style="max-width: 24rem; height: 16rem;">
				<div class="card-header"><h4 class="text-white">Lunes: </h4></div>
				<div class="card-body">
						<ul class="me-5 text-white">Triceps - skull crushers</ul>
						<ul class="me-5 text-white">Triceps - polea</ul>
						<ul class="me-5 text-white">Triceps - polea sobre cabeza</ul>
				</div>
			</div>
			<div class="mx-auto card text-dark bg-primary" style="max-width: 24rem;">
				<div class="card-header"><h4 class="text-white">Martes: </h4></div>
				<div class="card-body">
						<ul class="me-5 text-white">Dorsales polea agarre abierto</ul>
				</div>
			</div>
			<div class="mx-auto card text-dark bg-primary" style="max-width: 24rem;">
				<div class="card-header"><h4 class="text-white">Miércoles: </h4></div>
				<div class="card-body">
						<ul class="me-5 text-white">Free</ul>
				</div>
			</div>

		</div>
		<div class="mt-5 row">
			<div class="mx-3 card text-dark bg-primary" style="max-width: 24rem; height: 16rem;">
				<div class="card-header"><h4 class="text-white">Jueves: </h4></div>
				<div class="card-body">
						<ul class="me-5 text-white">Triceps - skull crushers</ul>
				</div>
			</div>
			<div class="mx-2 card text-dark bg-primary" style="max-width: 24rem;">
				<div class="card-header"><h4 class="text-white">Viernes: </h4></div>
				<div class="card-body">
						<ul class="me-5 text-white">Dorsales polea agarre abierto</ul>
				</div>
			</div>
		</div>
	</div>


{% endblock %}