{% extends 'tracker/base.html' %}

{% block content %}

    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <h2>Current Awards</h2>
        </div>
    </div>
    <br>
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
        {% if awards %}
            <div class="list-group">
                {% for award in awards %}

                {% if award.bp %}
                    <a href="{% url 'viewaward' award.id %}" class="list-group-item list-group-item-action"> {{ award.quarter }} | <b> {{award.who}} </b> | <span class="badge- badge-primary badge-pill">{{ award.award_category }}</span>{% if award.description %} | {{ award.description|truncatechars:40 }}{% endif %} | <b>{{ award.monto }}</b> | <span class="badge badge-primary badge-pill">BP</span></a>    
                {% else %}
                    <a href="{% url 'viewaward' award.id %}" class="list-group-item list-group-item-action"> {{ award.quarter }} | <b> {{ award.who }} </b> | <span class="badge- badge-warning badge-pill">{{ award.award_category }}</span>{% if award.description %} | {{ award.description|truncatechars:40 }}{% endif %} | <b>{{ award.monto }}</b> | <span class="badge badge-success badge-pill">$$</span></a>
                {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <div class="text-center">
                <h2>Looks like you don't have any awards given for the Q yet!</h2>
            <br>
            <a role="button" class="btn btn-primary" href="#">New Award</a>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}
