{% extends 'tracker/base.html' %}

{% block content %}

    <div class="row justify-content-center mt-5">
        <div class="col-md-4">
            <h2>New Award</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-4">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="quarter">Quarter</label>
                    <input list="q" name="quarter" maxlenght="2" class="form-control" id="quarter" autocomplete="off" required>
                <datalist id="q">
                    <option value="1Q">
                    <option value="2Q">
                    <option value="3Q">
                    <option value="4Q">
                </option>
                </div>
                <div class="form-group">
                    <label for="award_category">Award Category</label>
                    <input list="awcat" name="award_category" class="form-control" id="award_category" autocomplete="off" required>
                <datalist id="awcat">
                    <option value="Highest Delivery">
                    <option value="Growth Minded">
                    <option value="Trusted">
                    <option value="Team Focused">
                    <option value="Courageous">
                    <option value="Resourceful">
                    <option value="Outcome Focused">
                    <option value="Blue Points">
                </option>
                </div>
                <div class="form-group">
                    <label for="who">Developer</label>
                    <input list="dev" name="who" class="form-control" id="who" autocomplete="off" required>
                <datalist id="dev">
                    <option value="Gaston Sosa">
                    <option value="Moises Gonzalez">
                    <option value="Martin Spadoni">
                    <option value="Bruno Secchiari">
                    <option value="Ezequiel Ferlauto">
                    <option value="Dario Atach">
                    <option value="Julian Prestia">
                    <option value="Martin Laguna">
                    <option value="Rodrigo Cremella">
                    <option value="Martin Williner">
                    <option value="Laura Bisaccia">
                </option>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" class="form-control" id="description" ></textarea>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" name="bp" class="form-check-input" id="bp">
                    <label class="form-check-label" for="bp">Checked bluepoints</label>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" name="is_active" class="form-check-input" id="is_active">
                    <label class="form-check-label" for="is_active">Active</label>
                </div>
                <div class="form-group">
                    <label for="monto">Monto</label>
                    <input type="number" value="0.0" step="0.01" id="monto" name="monto" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>

{% endblock %}
