{% extends 'base.html' %}

{% block content %}


        <div class="card text-dark bg-light mb-3 mx-auto" style="max-width: 28rem;">        
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row m-3">
                <div class="col-5">
                    <div class="form-floating">
                    {% if employee.photo %}
                    <img  src="{{ employee.photo.url }}" height="125" width="125">
                    {% endif %}
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating">
                    <input type="file"  class="form-control form-control-sm" name="photo" accept="image/*" id="photo">
                    <label for="photo">Choose new photo</label>
                </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-sm-6">
                    <div class="form-floating">
                        <input type="text" name="first_name" class="form-control form-control-sm" id="first_name" value ="{{ employee.first_name }}" required>
                        <label for="first_name">First Name</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating">
                    <input type="text" name="last_name" class="form-control form-control-sm" id="last_name" 
                    value ="{{ employee.last_name }}" required>
                    <label for="last_name">Last Name</label>
                </div>
                </div>
            </div>
            <div class="row m-2">
            <div class="col-12">
                <div class="form-floating">
                <input type="text" name="designation" class="form-control form-control-sm" id="designation" 
                value ="{{ employee.designation }}" required>
                <label for="designation">Designation</label>
                </div>
            </div>
            </div>
            <div class="row m-2">
            <div class="col-sm-3">
            <div class="form-floating">
                <input type="text" name="band" class="form-control form-control-sm" id="band" maxlength="2" 
                value ="{{ employee.band }}" required>
                <label for="band">Band</label>
            </div>
            </div>
            <div class="col-sm-3">
                <div class="form-floating">
                <input type="number" name="pmr" class="form-control form-control-sm" id="pmr" value="{{ employee.pmr }}" step="0.01" readonly>
                <label for="pmr">PMR</label>
            </div>
            </div>
            <div class="col-sm-6">
                <div class="form-floating">
                <input type="number" name="salary_increase_ytd" class="form-control form-control-sm" id="salary_increase_ytd" value="{{ employee.salary_increase_ytd }}" step="0.01" readonly>
                <label for="salary_increase_ytd">Salary incr. YTD</label>
                </div>
            </div>
            </div>
            <div class="row m-2">
            <div class="col-sm-5">
                <div class="form-floating">

                <input type="number" name="salary_monthly" class="form-control form-control-sm" id="salary_monthly" value="{{ employee.salary_monthly }}" step="0.01" readonly>
 
                <label for="salary_monthly">Salary Monthly</label>
 
            </div>
            </div>
            <div class="col-sm-1">
                <a href="{% url 'salaryIncrease' employee.id %}" style="position: absolute; bottom: 85px; left: 180px;" class="btn btn-warning"><i class="fa fa-pencil"></i></a>
            </div>
            <div class="col-sm-6">
            <div class="form-floating">
                <input type="number" name="salary_usd" class="form-control form-control-sm" id="salary_usd" value="{{ employee.salary_usd}}" step="0.01" readonly>
                <label for="salary_usd">Salary USD</label>
            </div>
            </div>
            </div>
            <div class="row m-2">
            <div class="col-sm-8">
            <div class="form-floating">
                
                <input type="text" name="title" class="form-control form-control-sm" id="title" value ="{{ employee.title }}" required>
                <label for="title">Degree</label>
            </div>

            </div>
            <div class="col-sm-1">
                <button type="submit" class="btn btn-secondary" style="position: absolute; bottom: 20px; left: 290px;"><i class="fa fa-plus"></i></button>
            </div>
            <div class="col-sm-1">
                <a role="button" class="btn btn-danger" href="{% url 'employeeDelete' employee.id %}" style="position: absolute; bottom: 20px; left: 335px;"><i class="fa fa-trash"></i></a>
            </div>
            </div>
            <div class="mb-2">
            <div class="row mx-auto">

            </div>
            </div>
        
        </form>
        </div>


{% endblock%}