{% extends 'base.html' %}

{% block content %}


<div class="container">
<div class="card text-dark bg-light mt-3 mx-auto" style="max-width: 85rem;">
	 <h1 class="card-title mb-4">Employees Salaries</h1>
</div>
<div class="row">
<div class="col-sm-3">
<div class="card text-dark bg-light mt-3" style="max-width: 20rem;">
	<br>
	<div class="m-2">
		<table class="table table-sm table-active table-bordered">
			<thead>
				<tr>
				<th scope="col">Team Budg. USD</th>
	      		<th scope="col">Team Budg. ARS</th>
	      	</tr>
			</thead>
		<tbody>
			<tr>
			<td style="text-align: center;">{{ sum_dolar }}</td>
			 <td style="text-align: center;">{{ sum_pesos }}</td>
			</tr>
		</tbody>
		</table>
	</div>
</div>
</div>
<div class="col-sm-1">
<div class="card text-dark bg-light mt-3" style="max-width: 25rem;">
	<br>
	<div class="m-2">
		<table class="table table-sm table-active table-bordered">
			<thead>
				<tr>
				<th scope="col">B7</th>
	      		<th scope="col">B6</th>
	      	</tr>
			</thead>
		<tbody>
			<tr>
			<td style="text-align: center;">{{ countb7 }}</td>
			 <td style="text-align: center;">{{ countb6 }}</td>
			</tr>
		</tbody>
		</table>
	</div>
</div>
</div>
<div class="col-sm-2">
<div class="card text-dark bg-light mt-3" style="max-width: 10rem;">
	<br>
	<div class="m-2">
		<table class="table table-sm table-active table-bordered">
			<thead>
				<tr>
				<th scope="col">RPA</th>
	      		<th scope="col">WBA</th>
	      		<th scope="col">ODA</th>
	      	</tr>
			</thead>
		<tbody>
			<tr>
			<td style="text-align: center;">{{ countrpa }}</td>
			 <td style="text-align: center;">{{ countwba }}</td>
			 <td style="text-align: center;">{{ countoda }}</td>
			</tr>
		</tbody>
		</table>
	</div>
</div>
</div>
</div>

<div class="card text-dark bg-light mt-3 mx-auto" style="max-width: 85rem;">
	<div class="mt-3 m-2">
	 <table class="table table-sm table-active table-bordered table-hover">
	    <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Fullname</th>
	      <th scope="col">Degree</th>
	      <th scope="col">Designation</th>
	      <th scope="col">Band</th>
	      <th scope="col">PMR</th>
	      <th scope="col">Salary Increase YTD</th>
	      <th scope="col">Salary Monthly</th>
	      <th scope="col">Salary USD</th>
	    </tr>
	  </thead>
	  <tbody>
	  {% for employee in employees %}
	    <tr>
	      <th scope="row">{{ forloop.counter }}</th>
	      <td><a href="{% url 'employeeDetails' employee.id %}" class="list-group-item">{{ employee.first_name }} {{ employee.last_name }}</a></td>
	      <td><a href="{% url 'employeeDetails' employee.id %}" class="list-group-item">{{ employee.title }}</a></td>
	      <td><a href="{% url 'employeeDetails' employee.id %}" class="list-group-item">{{ employee.designation }}</a></td>
	      <td><a href="{% url 'employeeDetails' employee.id %}" class="list-group-item">{{ employee.band }}</a></td>
	      <td style="text-align: right;"><a href="{% url 'employeeDetails' employee.id %}" class="list-group-item">{{ employee.pmr }}</a></td>
	      <td style="text-align: right;"><a href="{% url 'employeeDetails' employee.id %}" class="list-group-item">{{ employee.salary_increase_ytd }}</a></td>
	      <td style="text-align: right;"><a href="{% url 'employeeDetails' employee.id %}" class="list-group-item">{{ employee.salary_monthly }}</a></td>
	      <td style="text-align: right;"><a href="{% url 'employeeDetails' employee.id %}" class="list-group-item">{{ employee.salary_usd }}</a></td>
	    </tr>
	   {% endfor %}
	  </tbody>
	</table>
</div>
</div>
</div>
{% endblock%}