{% extends 'base.html' %}

{% block content %}


<div class="card text-dark bg-light mb-3 mx-auto" style="max-width: 28rem;">
            {% if error %}
            <h3 class="m-2 text-danger">{{ error }}</h3>
            {% endif %} 
        <form method="POST" action="{% url 'calculateincrease' employee.id %}">
            {% csrf_token %}
            <div class="row m-3">
                <div class="col-5">
                    <div class="form-floating">
                    {% if employee.photo %}
                    <img  src="{{ employee.photo.url }}" height="125" width="125">
                    {% endif %}
                    </div>
                </div>
                <div class="col-5 mt-3">
                	<div class="form-floating">
                	<input type="text" name="fullname" class="form-control form-control-sm" id="fullname"
                	value="{{ employee.first_name }} {{ employee.last_name }}" readonly>
                	<label for="fullname">Employee</label>
                	</div>
                </div>
            </div>
            <div class="row m-2">
            <div class="col-sm-3">
                <div class="form-floating">
                <input type="number" name="pmr" class="form-control form-control-sm" id="pmr" value="{{ employee.pmr }}" step="0.01" readonly>
                <label for="pmr">Curr. PMR</label>
            </div>
            </div>
            <div class="col-sm-3">
                {% if new_pmr %}
                <div class="form-floating">
                <input type="number" name="new_pmr" class="form-control form-control-sm" id="new_pmr" step="0.01" value="{{ new_pmr }}" readonly>
                <label for="new_pmr">New PMR</label>
                {% else %}
                <div class="form-floating">
                <input type="number" name="new_pmr" class="form-control form-control-sm" id="new_pmr" step="0.01" readonly>
                <label for="new_pmr">New PMR</label>
                {% endif %}
            </div>
            </div>
            <div class="col-sm-6">
                <div class="form-floating">
                <input type="number" name="salary_increase_ytd" class="form-control form-control-sm" id="salary_increase_ytd" value="{{ employee.salary_increase_ytd }}" step="0.01" readonly>
                <label for="salary_increase_ytd">Salary incr. YTD</label>
                </div>
            </div>
            </div>
            <div class="row m-2">
            <div class="col-sm-6">
                <div class="form-floating">

                <input type="number" name="salary_monthly" class="form-control form-control-sm" id="salary_monthly" value="{{ employee.salary_monthly }}" step="0.01" readonly>
 
                <label for="salary_monthly">Current salary monthly</label>
 
            </div>
            </div>
            <div class="col-sm-6">
            <div class="form-floating">
                <input type="number" name="salary_usd" class="form-control form-control-sm" id="salary_usd" value="{{ employee.salary_usd}}" step="0.01" readonly>
                <label for="salary_usd">Current salary USD</label>
            </div>
            </div>
        	</div>
            <div class="row m-2">
            <div class="col-sm-6">
            <div class="form-floating">
 
            {% if percen %}
                <input type="number" name="percentage" class="form-control form-control-sm" id="percentage" step="0.01" value="{{ percen }}" required>
                <label for="percentage">Percentage Increase</label>
                <span style="position: absolute; float: right; bottom: 10px; right: 10px; display:inline-block;">
                        <button type="submit" class="btn btn-secondary"><i class="fa fa-calculator"></i></a>
                </span>
                </div>
                </div>
            {% else %}
                <input type="number" name="percentage" class="form-control form-control-sm" id="percentage" step="0.01" required>
                <label for="percentage">Percentage Increase</label>
                <span style="position: absolute; float: right; bottom: 10px; right: 10px;">
                        <button type="submit" class="btn btn-secondary"><i class="fa fa-calculator"></i></a>
                </span>
                </div>
                </div>
            {% endif %}

            <div class="col-sm-6">
            {% if new_salary %}
            <div class="form-floating">
                <input type="number" name="new_salary" class="form-control form-control-sm" id="new_salary" step="0.01" value="{{ new_salary }}"readonly>
                <label for="new_salary">New Salary</label>
            </div>
            {% else %}
            <div class="form-floating">
                <input type="number" name="new_salary" class="form-control form-control-sm" id="new_salary" step="0.01" readonly>
                <label for="new_salary">New Salary</label>
            </div>
            {% endif %}
            </div>
            </div>
            <div class="row m-2">
            <div class="col-sm-8">
            {% if new_salary_usd %}
            <div class="form-floating">
                <input type="number" name="new_salary_usd" class="form-control form-control-sm" id="new_salary_usd" step="0.01" value="{{ new_salary_usd }}" readonly>
                <label for="new_salary_usd">New Salary USD</label>
            </div>
            {% else %}
            <div class="form-floating">
                <input type="number" name="new_salary_usd" class="form-control form-control-sm" id="new_salary_usd" step="0.01" readonly>
                <label for="new_salary_usd">New Salary USD</label>
            </div>
            {% endif %}
            </div>
            </form>
            {% if new_salary %}
            <form method="POST" action="{% url 'saveIncrease' employee.id new_salary %}">
                {% csrf_token %}
            <div class="col-sm-1">
                <button type="submit" style="position: absolute; float: right; right: 175px; bottom: 15px;" class="btn btn-success"><i class="fa fa-check"></i></a>
            </div>
            </form>
            {% endif %}
        </div>
        

        

        </div>




{% endblock %}