{% extends 'base.html' %}

{% block content %}


        <div class="card text-dark bg-light mb-3 mx-auto" style="max-width: 28rem;">        
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row m-2">
                <div class="col-12">
                    <div class="form-floating">
                    <input type="file"  class="form-control form-control-sm" name="photo" accept="image/*" id="photo">
                    <label for="photo">Photo</label>
                    </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-sm-6">
                    <div class="form-floating">
                        <input type="text" name="first_name" class="form-control form-control-sm" id="first_name"required>
                        <label for="first_name">First Name</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating">
                    <input type="text" name="last_name" class="form-control form-control-sm" id="last_name" required>
                    <label for="last_name">Last Name</label>
                </div>
                </div>
            </div>
            <div class="row m-2">
            <div class="col-12">
                <div class="form-floating">
                <input type="text" name="designation" class="form-control form-control-sm" id="designation" required>
                <label for="designation">Designation</label>
                </div>
            </div>
            </div>
            <div class="row m-2">
            <div class="col-sm-3">
            <div class="form-floating">
                <input type="text" name="band" class="form-control form-control-sm" id="band" maxlength="2" required>
                <label for="band">Band</label>
            </div>
            </div>
            <div class="col-sm-3">
                <div class="form-floating">
                <input type="number" name="pmr" class="form-control form-control-sm" id="pmr" value="0.0" step="0.01" required>
                <label for="pmr">PMR</label>
            </div>
            </div>
            <div class="col-sm-6">
                <div class="form-floating">
                <input type="number" name="salary_increase_ytd" class="form-control form-control-sm" id="salary_increase_ytd" value="0.0" step="0.01" required>
                <label for="salary_increase_ytd">Salary incr. YTD</label>
                </div>
            </div>
            </div>
            <div class="row m-2">
            <div class="col-sm-6">
                <div class="form-floating">
                <input type="number" name="salary_monthly" class="form-control form-control-sm" id="salary_monthly" value="0.0" step="0.01" required>
                <label for="salary_monthly">Salary Monthly</label>
            </div>
            </div>
            <div class="col-sm-6">
            <div class="form-floating">
                <input type="number" name="salary_usd" class="form-control form-control-sm" id="salary_usd" value="0.0" step="0.01" required>
                <label for="salary_usd">Salary USD</label>
            </div>
            </div>
            </div>
            <div class="row m-2">
            <div class="col-sm-12">
            <div class="form-floating">
                
                <input type="text" name="title" class="form-control form-control-sm" id="title" required>
                <label for="title">Degree</label>
            </div>
            </div>
            </div>
            <div class="mb-2 mt-3">
            <div class="row mx-auto">
                <div class="col-sm-3 mx-auto">
                    <button type="submit" class="btn btn-secondary btn-lg"><i class="fa fa-plus"></i></button>
                </div>

            </div>
            </div>
        
        </form>
        </div>


{% endblock%}