#sidebar-wrapper{
	z-index: 1;
	position: absolute;
	width: 200px;
	height: 100%;
	overflow-y: hidden;
	background: #2C3E50;
	opacity: 0.9;
}

#page-content-wrapper{
	width: 100%;
	padding-left: 150px;
	position: absolute;

}

.sidebar-nav{
	padding: 0;
	list-style: none;
}

.sidebar-nav li{
	text-indent: 30px;
	line-height: 40px;
}

.sidebar-nav li a{
	display: block;
	text-decoration: none;
	color: #ddd;
}

.sidebar-nav li a:hover{
	background: #16A085;
}